.about{
    display: flex;
    order: 1;
    top: -300px;
    flex-direction: row-reverse;
    position: relative;
    align-items: flex-end;
    margin-top: 0px;
    padding: 0px;
    align-self: stretch;
}

.aboutus {
    padding-left: 30px;
    margin-top: 15px;
    }

.about img {
    width: 373px;
    height: 518px;
    
}

.about h4{
    text-align: center ;
}
