.btn-pink {
	background-color: #fffcf2;
	font-size: 14px;
	font-weight: bold;
	color:  #e5989b;
	font-family: 'Montserrat', sans-serif;
	text-decoration: underline;
	margin-left: 800px;
	bottom: 40px;
}

